<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".common.MapsDemoApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_maps"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_maps"
        android:supportsRtl="true"
        android:theme="@style/Theme.MapsDemo"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA3qDvOsfnGzIAiJeC_Tg0kP9ATecwxFCA" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/Theme.MapsDemo.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.editUser.EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>